
/* ----------------------------
* ALL WEBSITE 
* ----------------------------*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "PT Sans", sans-serif;
}

html {
  scroll-behavior: smooth;    
}

.container {
  padding: 0 100px;
}

body {
  background-color: #252627;
}

/* ----------------------------
 * COMMON
 * ----------------------------*/
 a {
  text-decoration: none;
  /* The rem inherits from browsers */
  font-size: .9rem;
  text-transform: uppercase;
  position: relative;
  top: 50%;
  bottom: 50%;
  transform: translateY(-50%);
}

nav ul,
.main-info-section,
.work-category {
  display: flex;
  /* wrap 讓flex elements 可以依照寬度自動換行 */
  flex-wrap: wrap;
  justify-content: space-between;    
}